rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PERMETTRE LA LECTURE ET L'ÉCRITURE À TOUT LE MONDE (POUR LE DÉVELOPPEMENT SEULEMENT)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

